
@{
    ViewData["Title"] = "Test";
    var WCs = ViewData["WCs"] as IEnumerable<SharedObjects.ValueObjects.VCustomer>;
    var FY = ViewData["FY"] as IEnumerable<SharedObjects.ValueObjects.VFiscalYear>;

}

<div class="row">
    <div class="col-md-offset-0">

        <div class="portlet light col-md-10 col-md-offset-1" style="width:1400px;">
            <div class="portlet green">
                <h2 style="font:bold">Test Data Entry</h2>

                <h4>One Time Configuration Page</h4>
            </div>

            <div class="portlet-body">

                <div class="table-toolbar">
                    <form class="modal-body" id="">
                        <div class="pull-left">

                            <label class="text-center bold font-green-sharp" for="txt-WC">WorkCell</label>
                        </div>
                        <div class="col-md-3 pull-left">
                            <select class="form-control" id="txt-wc" data-search="wc" name="wc" style="color:mediumvioletred">
                                <option value="">--Please Select--</option>

                                @foreach (var item in @WCs.OrderByDescending(c => c.CustomerName).ToList())
                                {
                                    <option value=@item.CustId>@item.CustomerName</option>
                                }
                            </select>
                        </div>
                        <div class="pull-left">

                            <label class="text-center bold font-green-sharp" for="txt-fy">Fiscal Year</label>
                        </div>
                        <div class="col-md-3 pull-left">
                            <select class="form-control" id="txt-fy" data-search="fy" name="fy" style="color:mediumvioletred">
                                <option value="">--Please Select--</option>

                                @foreach (var item in @FY.OrderByDescending(c => c.FiscalYear).ToList())
                                {
                                    <option value=@item.FiscalYearId>@item.FiscalYear</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-1  pull-left">
                            <a class="btn btn-success" id="btn-search">Search</a>
                        </div>


                    </form>
                </div>
                <hr style="height:5px" />
                <div id="table-result" class="table-responsive col-md-12 table-responsive" style="height:700px">

                </div>
            </div>

        </div>
    </div>
</div>
@section Script{
    <script src="~/js/testTechDataEnty.js"></script>
}