
@{
    var WCs = ViewData["WCs"] as IEnumerable<SharedObjects.ValueObjects.VCustomer>
    ;
    ViewData["Title"] = "Search";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light" style="height:1700px">
                <div class="portlet-title">

                    <div class="caption col-md-12">
                        <span class="caption-subject font-green-sharp bold uppercase">
                            Test Operator Headcount Sizing
                        </span>

                    </div>

                    <div class="portlet-body">

                        <div class="table-toolbar">
                            <form class="modal-body" id="">
                                <div class="pull-left">

                                    <label class="text-center bold font-green-sharp" for="txt-WC">WorkCell</label>
                                </div>
                                <div class="col-md-3 pull-left">
                                    <select class="form-control" id="txt-wc" data-search="wc" name="wc" style="color:mediumvioletred">
                                        <option value="">--Please Select--</option>

                                        @foreach (var item in @WCs.OrderByDescending(c => c.CustomerName).ToList())
                                        {
                                            <option value=@item.CustId>@item.CustomerName</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-1  pull-left">
                                    <a class="btn btn-success" id="btn-search">Search</a>
                                </div>
                                <div class="col-md-1 pull-left box" id="box"></div>

                            </form>
                        </div>
                        <hr style="height:5px" />

                    </div>
                </div>
                <div id="table-equipment" class="table-responsive table-responsive" style="height:950px">

                </div>

                <div id="table-result" class="table-responsive table-responsive" style="height:600px">

                </div>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script>
        function fncOnchangeStationOrTester() {
            var text = $("#txt-add-equipment-stationOrTester").val();
            debugger
            if (text == "") {
                document.getElementById("btn-add-equipemnt-stationOrTester").style.visibility = "hidden";
            }
            else {
                document.getElementById("btn-add-equipemnt-stationOrTester").style.visibility = "visible";

            }
        }

        function closeInput(elm) {
            var td = elm.parentNode;
            var value = elm.value;
            td.setAttribute('style', 'background-color:cyan')
            td.removeChild(elm);
            td.innerHTML = value;
        }

        function addInput(elm) {
            if (elm.getElementsByTagName('input').length > 0) return;

            var value = elm.innerHTML;
            elm.innerHTML = '';

            var input = document.createElement('input');
            input.setAttribute('type', 'number');
            input.setAttribute('value', value);
            input.setAttribute('onBlur', 'closeInput(this)');
            input.setAttribute('style', 'width:100px');
            elm.appendChild(input);
            input.focus();
        }

        function fncOnchangeDowntimeType() {
            var _downtimeType = $("#txt-dowtimetype").val();
            var _tranferWCId = parseInt(document.getElementById("txt-wc").value);
            $('.hiddenTab').attr("style", "visibility: hidden");
            $('#add-DowntimeDetail').empty();
            $('#add-DowntimeDetail').append($('<option>', {
                value: "0",
                text: "--Please Select--"
            }));

            var model = new Object();

            model.CustId = _tranferWCId;
            model.DowntimeType = _downtimeType;
            model.FiscalYearId = 1;

            $.ajax({
                type: 'post',
                url: '/TestOperator/GetDowntimeDetailByDowntimeType',
                dataType: 'json',
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    var data = response.result;
                    debugger
                    $.each(data, function (index, value) {
                        $('#add-DowntimeDetail').append($('<option>', {
                            value: value.downtimeDetail,
                            text: value.downtimeDetail
                        }));
                    });
                }
            });
        }
        function fncOnchangeDowntimeDetail(el) {
            if ($(el).val() != '0') {
                $('.hiddenTab').attr("style", "visibility: visible");
            }
            else {
                $('.hiddenTab').attr("style", "visibility: hidden");
            }
        }

    </script>
    <script src="~/js/tableToExcel.js"></script>
    <script type="text/javascript" src="~/js/common.js"></script>

    <script src="~/js/testOperatorPRD.js"></script>
}
