@model List<SharedObjects.ValueObjects.VStation>
@{
    ViewData["Title"] = "GetAllColumnName";
}



<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr class="text-center bold">
            @foreach (var item in Model)
            {
                <td id="@item.stationOrTester">@item.stationOrTester</td>}
        </tr>
    </thead>
    <tbody id="table-data"></tbody>
</table>

