@model SharedObjects.ViewModels.AddDebugRawDataViewModel

@{
    var WCs = ViewData["WCs"] as IEnumerable<SharedObjects.ValueObjects.VWC>;
    ViewData["Title"] = "Monthly Data Entrance";
    
    var NTID = ViewData["Id"] as string;

}



<div class="row">
    <div class="col-md-offset-0">

        <div class="portlet light col-md-10 col-md-offset-1" style="width:1100px">
            <div class="portlet green">
                <h2 style="font:bold">Monthly Data Entrance</h2>

                <h4>One Time Configuration Page</h4>
            </div>

            <form enctype="multipart/form-data" asp-action="AddDebugRawData" asp-controller="Debug" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group col-md-6">
                    <label asp-for="FiscalYear" class="control-label"></label>
                    <span asp-validation-for="FiscalYear" class="text-danger"></span>

                    <select asp-for="FiscalYear" class="form-control" id="txt-FiscalYear" data-search="FiscalYear" name="FiscalYear">
                        <option value="">--Please Select--</option>
                        <option value="FY21">FY21</option>
                        <option value="FY22">FY22</option>

                    </select>
                </div>*@
                <div class="form-group col-md-6">
                    <label asp-for="Wc" class="control-label"></label>
                    <span asp-validation-for="Wc" class="text-danger"></span>

                    <select asp-for="Wc" class="form-control" id="txt-wc" data-search="wc" name="wc">
                        <option value="">--Please Select--</option>

                        @foreach (var item in @WCs.OrderByDescending(c => c.Wcname).ToList())
                        {
                        <option value=@item.Wcname>@item.Wcname</option>
                        }
                    </select>
                </div>             
                <div class="form-group col-md-6">
                    <label asp-for="WorkingDayPerMonth" class="control-label"></label>
                    <input asp-for="WorkingDayPerMonth" class="form-control col-md-6" />
                    <span asp-validation-for="WorkingDayPerMonth" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="WorkingHourPerShift" class="control-label"></label>
                    <input asp-for="WorkingHourPerShift" class="form-control col-md-6" />
                    <span asp-validation-for="WorkingHourPerShift" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ShiftPatten" class="control-label"></label>
                    <span asp-validation-for="ShiftPatten" class="text-danger"></span>

                    <select asp-for="ShiftPatten" name="ShiftPatten" class="form-control col-md-6">
                        <option value="">--Please Select--</option>
                        <option value="4-3">4-3</option>
                        <option value="4-2">4-2</option>
                        <option value="Regular Shift">Regular Shift</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="WorkEfficiency" class="control-label"></label>
                    <input asp-for="WorkEfficiency" class="form-control col-md-6" />
                    <span asp-validation-for="WorkEfficiency" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ForecastedVolume" class="control-label"></label>
                    <input asp-for="ForecastedVolume" class="form-control col-md-6" />
                    <span asp-validation-for="ForecastedVolume" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="UpdateBy" class="control-label"></label>
                    <input type="text" asp-for="UpdateBy" class="form-control col-md-6" value="@NTID" readonly />

                    <span asp-validation-for="UpdateBy" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Coverage" class="control-label"></label>
                    <input type="text" asp-for="Coverage" class="form-control col-md-6" />
                    <span asp-validation-for="Coverage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-default" />
                </div>
            </form>

        </div>
    </div>
</div>



